.desktop-view .has-sidebar-page .d-header-wrap::before {
  content: "";
  display: inline;
  width: calc(var(--d-sidebar-width) - 1px);
  height: 4em;
  background-color: var(--sidebar-color);
  border-bottom: 1px solid var(--sidebar-border);
  border-right: 1px solid var(--sidebar-border);
  position: absolute;
}

.d-header {
  box-shadow: none;
  border-bottom: 1px solid var(--sidebar-border);
}

.d-header #site-text-logo {
  color: var(--bright-text);
  padding-left: calc(var(--d-sidebar-row-horizontal-padding) / 2);
}

.mobile-view .d-header #site-text-logo {
  font-size: var(--font-0);
  color: var(--primary);
}

.full-page-chat .chat-full-page-header {
  border-top: none;
}

//---------------------------
.has-sidebar-page .d-header > .wrap .contents {
  grid-template-columns:
    calc(var(--d-sidebar-width) - 11px) 1fr minmax(0, calc(var(--d-max-width)))
    1fr minmax(300px, calc(var(--d-sidebar-width) - 11px));
}

.d-header > .wrap .contents {
  grid-template-columns:
    minmax(auto, 1fr) auto minmax(0, calc(var(--d-max-width)))
    auto minmax(260px, 1fr);
  @media screen and (max-width: 1000px) {
    grid-template-columns:
      minmax(auto, 1fr) auto minmax(0, calc(var(--d-max-width)))
      auto minmax(auto, 1fr);
  }
}

.d-header {
  .home-logo-wrapper-outlet {
    margin-left: 3em;
    @media screen and (max-width: 1000px) {
      margin: 0;
    }
    .title {
      & > a {
        display: flex;
        align-items: center;
      }
      a {
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      .pc-logo {
        width: 60px;
        height: 26px;
        background-image: url(https://obs-for-discourse.obs.ap-southeast-1.myhuaweicloud.com/forum_light.png);
        @media screen and (max-width: 1000px) {
          display: none;
        }
      }
      .mo-logo {
        display: none;
        // width: 23px;
        // height: 24px;
        // @media screen and (max-width: 1000px) {
        //   display: block;
        // }
        // @media screen and (max-width: 420px) {
        //   width: 20px;
        //   height: 21px;
        // }
      }
      .website-logo {
        height: 28px;
        width: 108px;
        background-image: url(https://obs-mindspore-prod.obs.cn-north-4.myhuaweicloud.com/discourse/mindspore-logo-light.svg);
        @media screen and (max-width: 420px) {
          width: 68px;
          height: 16px;
        }
        @media screen and (max-width: 1000px) {
          margin-left: 36px;
        }
      }
      .divid {
        margin: 0 12px;
        width: 1px;
        height: 16px;
        background-color: var(--primary);
        @media screen and (max-width: 1000px) {
          display: none;
        }
      }
      img {
        height: 100%;
      }
    }
  }
}

.dark {
  .d-header {
    .home-logo-wrapper-outlet {
      .forum-logo {
        background-image: url(https://obs-for-discourse.obs.ap-southeast-1.myhuaweicloud.com/forum_dark.png);
      }
      .website-logo {
        background-image: url(https://obs-mindspore-prod.obs.cn-north-4.myhuaweicloud.com/discourse/mindspore-logo-dark.svg);
      }
    }
  }
}
html[lang="zh-CN"] {
  .home-logo-wrapper-outlet {
    .lang-en {
      display: none;
    }
    .lang-zh {
      display: block;
    }
  }
}

html[lang="en"] {
  .home-logo-wrapper-outlet {
    .lang-en {
      display: block;
    }
    .lang-zh {
      display: none;
    }
  }
}
