:root {
  --sidebar-color: var(--header_background);
  --sidebar-hover: var(--primary-200);
  --bright-text: var(--primary);
  --active-text: #ffffff;
  --dimmed-text: var(--primary-800);
  --sidebar-border: var(--primary-200);
  --presence-online: var(--success);
  --d-border-radius: 4px;
  --d-border-radius-large: 8px;
}

.sidebar-wrapper .sidebar-sections {
  --scrollbarThumbBg: rgba(var(--primary-rgb), 0.2);
  --scrollbarWidth: 0.35em;
}
