@import "variables";
@import "presence";
@import "spacing";
@import "colors";
@import "header";
@import "misc";

.sidebar-theme-toggle__wrapper
  .sidebar-theme-toggle-dropdown.select-kit.is-expanded
  .select-kit-body {
  background: var(--sidebar-color);
  border-color: var(--sidebar-border);
  box-shadow: none;
  width: calc(var(--d-sidebar-width) - 1.75em) !important;
  border-radius: 8px;
  min-width: unset !important;
}

.btn-primary {
  color: #ffffff;
  .d-icon {
    color: #ffffff;
  }
}
html.discourse-no-touch {
  .btn-primary {
    .d-icon {
      color: #ffffff;
    }
  }
}

.discourse-touch {
  .sidebar-custom-sections {
    a:hover {
      background: var(--sidebar-hover) !important;
    }
    .active:hover {
      background: var(--tertiary) !important;
    }
  }
}
